@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+BE+VLG:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s ease;
    font-family: Outfit;
}

#root {
    min-height: 100vh;
    display: flex;
    animation: fadein 1.5s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}